name: Release
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2.1.3
        with:
          go-version: ^1.16.0
      - name: Log in to quay.io
        uses: Azure/docker-login@v1
        with:
          login-server: quay.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2.5.0
        with:
          version: latest
          args: release --rm-dist
        env:
          # To upload Homebrew recipe to dtan4/homebrew-tools, we need a personal token
          # instead of Action's temporary token
          GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
